@font-face {
   font-family: "icomoon";
   src: url("../fonts/icomoon/icomoon.eot?srf3rx");
   src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
         format("embedded-opentype"),
      url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
      url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
      url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
   font-weight: normal;
   font-style: normal;
}

/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
   font-family: "Quicksand", Arial, sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 1.8;
   color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 992px) {
   body {
      font-size: 16px;
   }
}
/*===========================
        3.ABOUT css 
===========================*/

.about-skills .skill-item .skill-header {
   position: relative;
}
.about-skills .skill-item .skill-header .skill-title {
   font-size: 16px;
   font-weight: 400;
}
.about-skills .skill-item .skill-header .skill-percentage {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 16px;
   color: #32333c;
   font-weight: 400;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
}
.about-skills .skill-item .skill-header .skill-percentage .count-box {
   font-size: 16px;
   color: #32333c;
}
.about-skills .skill-item .skill-bar {
   /* margin-top: 2px; */
}
.about-skills .skill-item .skill-bar .bar-inner {
   width: 100%;
   height: 5px;
   border-radius: 5px;
   background-color: #d9d9d9;
   position: relative;
}
.about-skills .skill-item .skill-bar .bar-inner .progress-line {
   position: absolute;
   top: 0;
   left: 0;
   height: 5px;
   border-radius: 5px;
   background-color: #754ef9;
   -webkit-transition: all 2s ease-out 0s;
   -moz-transition: all 2s ease-out 0s;
   -ms-transition: all 2s ease-out 0s;
   -o-transition: all 2s ease-out 0s;
   transition: all 2s ease-out 0s;
   width: 0;
}
.mt-25 {
   margin-top: 10px;
}
a {
   color: #754ef9;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}
a:hover,
a:active,
a:focus {
   color: #754ef9;
   outline: none;
   text-decoration: none !important;
}

p {
   /* margin-bottom: 1.5em; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: #32333c !important;
   font-family: "Quicksand", Arial, sans-serif;
   font-weight: 400;
   margin: 0 0 30px 0;
}

figure {
   margin-bottom: 2.5em;
   float: left;
   width: 100%;
}
figure figcaption {
   font-size: 16px;
   width: 80%;
   margin: 20px auto 0px auto;
   color: #b3b3b3;
   font-style: italic;
   font-family: "Quicksand", Arial, sans-serif;
}
@media screen and (max-width: 480px) {
   figure figcaption {
      width: 100%;
   }
}

::-webkit-selection {
   color: #fff;
   background: #754ef9;
}

::-moz-selection {
   color: #fff;
   background: #754ef9;
}

::selection {
   color: #fff;
   background: #754ef9;
}

#colorlib-page {
   width: 100%;
   overflow: hidden;
   position: relative;
}

#colorlib-aside {
   padding-top: 3em;
   padding-bottom: 40px;
   padding-left: 3em;
   padding-right: 3em;
   width: 20%;
   position: fixed;
   bottom: 0;
   top: 0;
   left: 0;
   overflow-y: scroll;
   z-index: 1001;
   background: #fff;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}
@media screen and (max-width: 1200px) {
   #colorlib-aside {
      width: 30%;
   }
}
@media screen and (max-width: 768px) {
   #colorlib-aside {
      width: 270px;
      -moz-transform: translateX(-270px);
      -webkit-transform: translateX(-270px);
      -ms-transform: translateX(-270px);
      -o-transform: translateX(-270px);
      transform: translateX(-270px);
      padding-top: 4em;
   }
}
#colorlib-aside #colorlib-logo {
   text-align: right;
   font-weight: 400;
   font-size: 22px;
   text-transform: uppercase;
   margin-bottom: 3em;
   display: block;
   width: 100%;
}
@media screen and (max-width: 768px) {
   #colorlib-aside #colorlib-logo {
      margin-bottom: 1em;
   }
}
#colorlib-aside #colorlib-logo a {
   display: inline-block;
   text-align: center;
   background: #000;
   padding: 0.5em 0.8em;
   color: #fff;
   letter-spacing: 10px;
   padding-right: 0.3em;
}
#colorlib-aside #colorlib-logo a span {
   display: block;
   margin-bottom: 5px;
   text-align: center;
}
#colorlib-aside #colorlib-main-menu ul {
   text-align: right;
   margin: 0;
   padding: 0;
}
@media screen and (max-width: 768px) {
   #colorlib-aside #colorlib-main-menu ul {
      margin: 0 0 2em 0;
   }
}
#colorlib-aside #colorlib-main-menu ul li {
   margin: 0 0 10px 0;
   padding: 0;
   list-style: none;
   font-size: 12px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#colorlib-aside #colorlib-main-menu ul li a {
   /* color: rgba(0, 0, 0, 0.4); */
   text-decoration: none;
   position: relative;
   padding: 10px 0;
   font-family: "Quicksand", Arial, sans-serif;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}
#colorlib-aside #colorlib-main-menu ul li a:after {
   content: "";
   position: absolute;
   height: 1px;
   bottom: 7px;
   left: 0;
   right: 0;
   background-color: #000;
   visibility: hidden;
   -webkit-transform: scaleX(0);
   -moz-transform: scaleX(0);
   -ms-transform: scaleX(0);
   -o-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#colorlib-aside #colorlib-main-menu ul li a:hover {
   text-decoration: none;
   color: black;
}
#colorlib-aside #colorlib-main-menu ul li a:hover:after {
   visibility: visible;
   -webkit-transform: scaleX(1);
   -moz-transform: scaleX(1);
   -ms-transform: scaleX(1);
   -o-transform: scaleX(1);
   transform: scaleX(1);
}
#colorlib-aside #colorlib-main-menu ul li.colorlib-active a {
   color: #000;
}
#colorlib-aside #colorlib-main-menu ul li.colorlib-active a:after {
   visibility: visible;
   -webkit-transform: scaleX(1);
   -moz-transform: scaleX(1);
   -ms-transform: scaleX(1);
   -o-transform: scaleX(1);
   transform: scaleX(1);
}
#colorlib-aside .colorlib-footer {
   position: absolute;
   bottom: 40px;
   right: 1.5em;
   left: 1.5em;
   font-size: 15px;
   text-align: right;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.6);
   padding: 0 20px;
}
@media screen and (max-width: 768px) {
   #colorlib-aside .colorlib-footer {
      position: relative;
      bottom: 0;
   }
}
#colorlib-aside .colorlib-footer span {
   display: block;
}
#colorlib-aside .colorlib-footer ul {
   padding: 0;
   margin: 0;
}
#colorlib-aside .colorlib-footer ul li {
   padding: 0;
   margin: 0;
   display: inline;
   list-style: none;
}
#colorlib-aside .colorlib-footer ul li a {
   color: rgba(0, 0, 0, 0.7);
   padding: 4px;
}
#colorlib-aside .colorlib-footer ul li a:hover,
#colorlib-aside .colorlib-footer ul li a:active,
#colorlib-aside .colorlib-footer ul li a:focus {
   text-decoration: none;
   outline: none;
   color: #754ef9;
}

#colorlib-main {
   width: 80%;
   float: right;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}
@media screen and (max-width: 1200px) {
   #colorlib-main {
      width: 70%;
   }
}
@media screen and (max-width: 768px) {
   #colorlib-main {
      width: 100%;
   }
}

#colorlib-hero {
   min-height: 500px;
   background: #fff url(../images/loader.gif) no-repeat center center;
   width: 100%;
   float: left;
   margin-bottom: 10em;
   clear: both;
}
#colorlib-hero .btn {
   font-size: 24px;
}
#colorlib-hero .btn.btn-primary {
   padding: 14px 30px !important;
}
#colorlib-hero .flexslider {
   border: none;
   z-index: 1;
   margin-bottom: 0;
}
#colorlib-hero .flexslider .slides {
   position: relative;
   overflow: hidden;
}
#colorlib-hero .flexslider .slides li {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom center;
   min-height: 400px;
   position: relative;
}
#colorlib-hero .flexslider .flex-control-nav {
   bottom: 20px;
   z-index: 1000;
   right: 20px;
   float: right;
   width: auto;
}
#colorlib-hero .flexslider .flex-control-nav li {
   display: block;
   margin-bottom: 10px;
}
#colorlib-hero .flexslider .flex-control-nav li a {
   background: rgba(255, 255, 255, 0.2);
   -webkit-box-shadow: none;
   box-shadow: none;
   width: 12px;
   height: 12px;
   cursor: pointer;
}
#colorlib-hero .flexslider .flex-control-nav li a.flex-active {
   cursor: pointer;
   background: transparent;
   border: 2px solid #754ef9;
}
#colorlib-hero .flexslider .flex-direction-nav {
   display: none;
}
#colorlib-hero .flexslider .slider-text {
   display: table;
   opacity: 0;
   min-height: 500px;
   z-index: 9;
}
#colorlib-hero .flexslider .slider-text > .slider-text-inner {
   display: table-cell;
   vertical-align: middle;
   min-height: 700px;
   padding: 2em;
   position: relative;
}
#colorlib-hero .flexslider .slider-text > .slider-text-inner .desc {
   position: absolute;
   bottom: 15px;
   left: 0;
   padding: 30px;
   background: #fff;
}
@media screen and (max-width: 768px) {
   #colorlib-hero .flexslider .slider-text > .slider-text-inner {
      text-align: center;
   }
}
#colorlib-hero .flexslider .slider-text > .slider-text-inner h1,
#colorlib-hero .flexslider .slider-text > .slider-text-inner h2 {
   margin: 0;
   padding: 0;
   color: black;
   font-family: "Quicksand", Arial, sans-serif;
}
#colorlib-hero .flexslider .slider-text > .slider-text-inner h1 {
   margin-bottom: 20px;
   font-size: 44px;
   line-height: 1.3;
   font-weight: 300;
}
@media screen and (max-width: 768px) {
   #colorlib-hero .flexslider .slider-text > .slider-text-inner h1 {
      font-size: 28px;
   }
}
#colorlib-hero .flexslider .slider-text > .slider-text-inner h2 {
   font-size: 18px;
   line-height: 1.5;
   margin-bottom: 30px;
   font-weight: 300;
   font-family: "Quicksand", Arial, sans-serif;
}
#colorlib-hero .flexslider .slider-text > .slider-text-inner h2 a {
   color: rgba(157, 128, 251, 0.884);
   border-bottom: 1px solid rgba(157, 128, 251, 0.938);
}
#colorlib-hero .flexslider .slider-text > .slider-text-inner .heading-section {
   font-size: 50px;
}
@media screen and (max-width: 768px) {
   #colorlib-hero
      .flexslider
      .slider-text
      > .slider-text-inner
      .heading-section {
      font-size: 30px;
   }
}
#colorlib-hero .flexslider .slider-text > .slider-text-inner s .colorlib-lead {
   font-size: 20px;
   color: #fff;
}
#colorlib-hero .flexslider .slider-text > .slider-text-inner p {
   margin-bottom: 0;
}
#colorlib-hero .flexslider .slider-text > .slider-text-inner .btn {
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: #000;
   padding: 10px 15px !important;
   border: none;
   font-weight: 400;
}
#colorlib-hero .flexslider .slider-text > .slider-text-inner .btn.btn-learn {
   background: #754ef9;
   color: white;
   border: 1px solid #754ef9;
}
#colorlib-hero
   .flexslider
   .slider-text
   > .slider-text-inner
   .btn.btn-learn:hover {
   background: transparent !important;
   color: #754ef9;
   border: 1px solid #754ef9 !important;
}
@media screen and (max-width: 768px) {
   #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn {
      width: 100%;
   }
}

body.offcanvas {
   overflow-x: hidden;
}
body.offcanvas #colorlib-aside {
   -moz-transform: translateX(0);
   -webkit-transform: translateX(0);
   -ms-transform: translateX(0);
   -o-transform: translateX(0);
   transform: translateX(0);
   width: 270px;
   background: #fff;
   z-index: 999;
   position: fixed;
}
body.offcanvas #colorlib-main,
body.offcanvas .colorlib-nav-toggle {
   top: 0;
   -moz-transform: translateX(270px);
   -webkit-transform: translateX(270px);
   -ms-transform: translateX(270px);
   -o-transform: translateX(270px);
   transform: translateX(270px);
}

.colorlib-blog,
.colorlib-work,
.colorlib-about,
.colorlib-services,
.colorlib-contact {
   padding-top: 4em;
   padding-bottom: 9em;
   clear: both;
   width: 100%;
   display: block;
}
@media screen and (max-width: 768px) {
   .colorlib-blog,
   .colorlib-work,
   .colorlib-about,
   .colorlib-services,
   .colorlib-contact {
      padding-top: 5em;
      padding-bottom: 8em;
   }
}

.about-img,
.about-img-2 {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   position: relative;
}

.colorlib-heading {
   font-size: 18px;
   margin-bottom: 4em;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 5px;
   line-height: 1.8;
}
.colorlib-heading span {
   display: block;
}
@media screen and (max-width: 768px) {
   .colorlib-heading {
      margin-bottom: 1em;
   }
}

.heading-meta {
   margin-bottom: 15px;
   display: block;
   font-size: 10px;
   text-transform: uppercase;
   color: #999999;
   font-weight: 500;
   letter-spacing: 5px;
}

.about-img {
   width: 75%;
   height: 550px;
}
.about-img .about-img-2 {
   width: 100% !important;
   height: 470px;
   position: absolute;
   top: 40px;
   right: -100px;
   width: 80%;
   border: 3px solid black;
   -webkit-box-shadow: 0px 35px 78px -23px rgba(0, 0, 0, 0.33);
   -moz-box-shadow: 0px 35px 78px -23px rgba(0, 0, 0, 0.33);
   box-shadow: 0px 35px 78px -23px rgba(0, 0, 0, 0.33);
}

.about-desc h3 {
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-weight: 500;
}

.fancy-collapse-panel .panel-default > .panel-heading {
   padding: 0;
}

.panel-heading a {
   padding: 15px 25px;
   display: block;
   width: 100%;
   font-weight: 400;
   font-size: 14px;
   letter-spacing: 1px;
   text-transform: uppercase;
   background-color: #754ef9;
   color: #fff;
   position: relative;
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   -ms-box-shadow: none !important;
   -o-box-shadow: none !important;
   box-shadow: none !important;
}

.panel {
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   -ms-box-shadow: none !important;
   -o-box-shadow: none !important;
   box-shadow: none !important;
   border: none;
}

.panel-heading a:after {
   font-family: "icomoon";
   content: "\ea0e";
   position: absolute;
   right: 20px;
   font-size: 20px;
   font-weight: 400;
   top: 50%;
   line-height: 1;
   margin-top: -10px;
}

.panel-heading a.collapsed:after {
   content: "\ea1c";
}

.panel-heading a.collapsed {
   background: #fafafa;
   border: 1px solid #e6e6e6 !important;
   color: #333333;
}

.panel-body {
   padding: 1.5em;
   margin-top: 5px;
   border: 1px solid #e6e6e6 !important;
}

.blog-entry {
   width: 100%;
   float: left;
   background: #fff;
   margin-bottom: 3em;
}
@media screen and (max-width: 768px) {
   .blog-entry {
      margin-bottom: 3em;
   }
}
.blog-entry .blog-img {
   width: 100%;
   float: left;
   overflow: hidden;
   position: relative;
   z-index: 1;
   margin-bottom: 25px;
}
.blog-entry .blog-img img {
   position: relative;
   max-width: 100%;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   transform: scale(1);
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}
.blog-entry .desc h3 {
   font-size: 16px;
   margin-bottom: 25px;
   line-height: auto;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
}
.blog-entry .desc h3 a {
   color: #000;
   text-decoration: none;
}
.blog-entry .desc span {
   display: block;
   margin-bottom: 20px;
   font-size: 14px;
   color: rgba(0, 0, 0, 0.5) !important;
}
.blog-entry .desc span small i {
   color: #999999;
}
.blog-entry .desc .lead {
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: #000;
}
.blog-entry:hover .blog-img img {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   transform: scale(1.1);
}

.overlap {
   margin-top: 5em;
   background: #fff;
   padding: 30px;
}
@media screen and (max-width: 768px) {
   .overlap {
      margin-top: 2em;
   }
}

.project {
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   position: relative;
   height: 450px;
   width: 100%;
   display: block;
   margin-bottom: 30px;
}

.project .desc {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   right: 0;
   background: rgba(0, 0, 0, 0.9);
   opacity: 0;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   cursor: pointer;
   transition: 0.3s;
}
.project .desc .con {
   padding: 20px;
   display: block;
   position: relative;
   height: 450px;
}
.project .desc .con .icon {
   position: absolute;
   bottom: 20px;
   left: 20px;
   right: 20px;
}
.project .desc .con .icon span {
   display: inline;
   padding-right: 5px;
}
.project .desc .con .icon span a {
   color: #cccccc;
   padding: 5px;
   background: #333333;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   border-radius: 4px;
}
.project .desc .con .icon i {
   font-size: 16px;
   /* color: #cccccc; */
}
.project .desc h3 {
   font-size: 16px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
   -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
   -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
   transition: opacity 0.3s, -webkit-transform 0.3s;
   -o-transition: transform 0.3s, opacity 0.3s;
   transition: transform 0.3s, opacity 0.3s;
   transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
   -webkit-transform: translate3d(0, -15px, 0);
   transform: translate3d(0, -15px, 0);
   margin-bottom: 15px;
}
.project .desc h3 a {
   color: #fff;
}
.project .desc h3 a strong,
.project .desc span strong {
   text-transform: uppercase;
   margin-right: 5px;
}
.project .desc span {
   display: block;
   color: #999999;
   font-size: 13px;
   -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
   -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
   transition: opacity 0.3s, -webkit-transform 0.3s;
   -o-transition: transform 0.3s, opacity 0.3s;
   transition: transform 0.3s, opacity 0.3s;
   transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
   -webkit-transform: translate3d(0, 15px, 0);
   transform: translate3d(0, 15px, 0);
}
.project .desc span a {
   color: #000;
}
@media screen and (max-width: 768px) {
}
.project:hover .desc {
   opacity: 1;
}
.project:hover .desc h3 {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
.project:hover .desc span {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.project-desc h2 {
   font-size: 16px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin-bottom: 15px;
}

.project-desc span {
   display: block;
   color: #666666;
   font-size: 13px;
   margin-bottom: 15px;
}
.project-desc span a {
   color: #666666;
}

.project-desc .icon span {
   display: inline;
   padding-right: 5px;
}

.project-desc .btn-download {
   font-size: 13px;
   text-transform: uppercase;
   font-weight: 400;
   text-decoration: underline;
}

.colorlib-lead {
   font-size: 18px;
   line-height: 1.5;
}

#get-in-touch {
   padding: 2em;
}
#get-in-touch .btn-learn {
   padding: 15px 30px !important;
   font-size: 13px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   border-radius: 30px;
}

.colorlib-social {
   padding: 0;
   margin: 0;
   text-align: center;
}
.colorlib-social li {
   padding: 0;
   margin: 0;
   list-style: none;
   display: -moz-inline-stack;
   display: inline-block;
   zoom: 1;
   *display: inline;
}
.colorlib-social li a {
   font-size: 22px;
   color: #000;
   padding: 10px;
   display: -moz-inline-stack;
   display: inline-block;
   zoom: 1;
   *display: inline;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   border-radius: 7px;
}
@media screen and (max-width: 768px) {
   .colorlib-social li a {
      padding: 10px 8px;
   }
}
.colorlib-social li a:hover {
   color: #754ef9;
}
.colorlib-social li a:hover,
.colorlib-social li a:active,
.colorlib-social li a:focus {
   outline: none;
   text-decoration: none;
   color: #754ef9;
}

#map {
   width: 100%;
   height: 700px;
}
@media screen and (max-width: 768px) {
   #map {
      height: 200px;
   }
}

.colorlib-more-contact {
   background: #fafafa;
   border: 1px solid red;
}

.colorlib-feature {
   text-align: left;
   width: 100%;
   float: left;
   margin-bottom: 40px;
   position: relative;
}
.colorlib-feature .colorlib-icon {
   position: absolute;
   top: 0;
   left: 0;
   width: 100px;
   height: 100px;
   display: table;
   text-align: center;
   background: rgba(0, 0, 0, 0.03);
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   border-radius: 2px;
}
.colorlib-feature .colorlib-icon i {
   display: table-cell;
   vertical-align: middle;
   color: #754ef9;
   font-size: 40px;
   height: 100px;
}
@media screen and (max-width: 1200px) {
   .colorlib-feature .colorlib-icon i {
      font-size: 40px;
   }
}
.colorlib-feature .colorlib-text {
   padding-left: 120px;
   width: 100%;
}
.colorlib-feature .colorlib-text h2,
.colorlib-feature .colorlib-text h3 {
   margin: 0;
   padding: 0;
}
.colorlib-feature .colorlib-text h3 {
   font-weight: 500;
   margin-bottom: 20px;
   color: rgba(0, 0, 0, 0.7);
   font-size: 14px;
   letter-spacing: 3px;
   text-transform: uppercase;
}
.colorlib-feature.colorlib-feature-sm .colorlib-text {
   margin-top: 30px;
}
.colorlib-feature.colorlib-feature-sm .colorlib-icon i {
   color: #754ef9;
   font-size: 40px;
}
@media screen and (max-width: 1200px) {
   .colorlib-feature.colorlib-feature-sm .colorlib-icon i {
      font-size: 28px;
   }
}

.colorlib-feature-lg .colorlib-text h2,
.colorlib-feature-lg .colorlib-text h3 {
   margin: 0;
   padding: 0;
}

.colorlib-feature-lg .colorlib-text h3 {
   font-weight: 500;
   margin-bottom: 20px;
   color: rgba(0, 0, 0, 0.8);
   font-size: 14px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
}

.colorlib-bg-color {
   background: #fafafa;
   position: relative;
}

.pagination {
   padding: 0;
}
.pagination li {
   margin: 2px;
}
.pagination li a {
   color: #000;
   background: transparent;
   color: #000;
   margin: 2px;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   border-radius: 0;
}
.pagination li a:first-child {
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   border-radius: 2px;
}
.pagination li a:hover,
.pagination li a:focus {
   background: #754ef9;
   color: #fff;
   border: 1px solid #754ef9;
}
@media screen and (max-width: 768px) {
   .pagination li a {
      padding: 7px 15px;
   }
}
.pagination li.active a {
   background: #754ef9;
   border: 1px solid #754ef9 !important;
}
.pagination li.active a:hover,
.pagination li.active a:focus {
   background: #754ef9;
   color: #fff;
   border: 1px solid #754ef9 !important;
}

.btn {
   margin-right: 4px;
   margin-bottom: 4px;
   font-family: "Quicksand", Arial, sans-serif;
   font-size: 12px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 1px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   border-radius: 2px;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   padding: 8px 15px !important;
}
.btn.btn-sm {
   padding: 4px 15px !important;
}
.btn.btn-md {
   padding: 8px 20px !important;
}
.btn.btn-lg {
   padding: 18px 36px !important;
}
.btn:hover,
.btn:active,
.btn:focus {
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
   outline: none !important;
}

.btn-primary {
   background: #754ef9;
   color: #fff;
   border: 2px solid #754ef9;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
   background-color: #fff;
   color: #754ef9;
   border-color: #754ef9;
}
.btn-primary.btn-outline {
   background: transparent;
   color: #754ef9;
   border: 2px solid #754ef9;
}
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
   background: #754ef9;
   color: #fff;
}

.btn-success {
   background: #5cb85c;
   color: #fff;
   border: 2px solid #5cb85c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
   background: #4cae4c !important;
   border-color: #4cae4c !important;
}
.btn-success.btn-outline {
   background: transparent;
   color: #5cb85c;
   border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
   background: #5cb85c;
   color: #fff;
}

.btn-info {
   background: #5bc0de;
   color: #fff;
   border: 2px solid #5bc0de;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
   background: #46b8da !important;
   border-color: #46b8da !important;
}
.btn-info.btn-outline {
   background: transparent;
   color: #5bc0de;
   border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
   background: #5bc0de;
   color: #fff;
}

.btn-warning {
   background: #f0ad4e;
   color: #fff;
   border: 2px solid #f0ad4e;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
   background: #eea236 !important;
   border-color: #eea236 !important;
}
.btn-warning.btn-outline {
   background: transparent;
   color: #f0ad4e;
   border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
   background: #f0ad4e;
   color: #fff;
}

.btn-danger {
   background: #d9534f;
   color: #fff;
   border: 2px solid #d9534f;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
   background: #d43f3a !important;
   border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
   background: transparent;
   color: #d9534f;
   border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
   background: #d9534f;
   color: #fff;
}

.btn-outline {
   background: none;
   border: 2px solid gray;
   font-size: 16px;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
   -webkit-box-shadow: none;
   box-shadow: none;
}

.form-control {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   background: transparent;
   border: 1px solid rgba(0, 0, 0, 0.1);
   height: 54px;
   font-size: 16px;
   font-weight: 400;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   border-radius: 0;
}
.form-control:active,
.form-control:focus {
   outline: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   border-color: #754ef9;
}

#message {
   height: 130px;
}

.colorlib-nav-toggle {
   cursor: pointer;
   text-decoration: none;
}
.colorlib-nav-toggle.active i::before,
.colorlib-nav-toggle.active i::after {
   background: #000;
}
.colorlib-nav-toggle.dark.active i::before,
.colorlib-nav-toggle.dark.active i::after {
   background: #000;
}
.colorlib-nav-toggle:hover,
.colorlib-nav-toggle:focus,
.colorlib-nav-toggle:active {
   outline: none;
   border-bottom: none !important;
}
.colorlib-nav-toggle i {
   position: relative;
   display: -moz-inline-stack;
   display: inline-block;
   zoom: 1;
   *display: inline;
   width: 30px;
   height: 2px;
   color: #000;
   font: bold 14px/0.4 Helvetica;
   text-transform: uppercase;
   text-indent: -55px;
   background: #000;
   -webkit-transition: all 0.2s ease-out;
   -o-transition: all 0.2s ease-out;
   transition: all 0.2s ease-out;
}
.colorlib-nav-toggle i::before,
.colorlib-nav-toggle i::after {
   content: "";
   width: 30px;
   height: 2px;
   background: #000;
   position: absolute;
   left: 0;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
}
.colorlib-nav-toggle.dark i {
   position: relative;
   color: #000;
   background: #000;
   -webkit-transition: all 0.2s ease-out;
   -o-transition: all 0.2s ease-out;
   transition: all 0.2s ease-out;
}
.colorlib-nav-toggle.dark i::before,
.colorlib-nav-toggle.dark i::after {
   background: #000;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
}

.colorlib-nav-toggle i::before {
   top: -7px;
}

.colorlib-nav-toggle i::after {
   bottom: -7px;
}

.colorlib-nav-toggle:hover i::before {
   top: -10px;
}

.colorlib-nav-toggle:hover i::after {
   bottom: -10px;
}

.colorlib-nav-toggle.active i {
   background: transparent;
}

.colorlib-nav-toggle.active i::before {
   top: 0;
   -webkit-transform: rotateZ(45deg);
   -moz-transform: rotateZ(45deg);
   -ms-transform: rotateZ(45deg);
   -o-transform: rotateZ(45deg);
   transform: rotateZ(45deg);
}

.colorlib-nav-toggle.active i::after {
   bottom: 0;
   -webkit-transform: rotateZ(-45deg);
   -moz-transform: rotateZ(-45deg);
   -ms-transform: rotateZ(-45deg);
   -o-transform: rotateZ(-45deg);
   transform: rotateZ(-45deg);
}

.colorlib-nav-toggle {
   position: fixed;
   left: -4px;
   top: 0px;
   z-index: 9999;
   cursor: pointer;
   opacity: 1;
   visibility: hidden;
   padding: 20px;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}
@media screen and (max-width: 768px) {
   .colorlib-nav-toggle {
      opacity: 1;
      visibility: visible;
   }
}

@media screen and (max-width: 480px) {
   .col-xxs-12 {
      float: none;
      width: 100%;
   }
}

.row-bottom-padded-lg {
   padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
   .row-bottom-padded-lg {
      padding-bottom: 1em;
   }
}

.row-bottom-padded-md {
   padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
   .row-bottom-padded-md {
      padding-bottom: 1em;
   }
}

.row-bottom-padded-sm {
   padding-bottom: 1em;
}
@media screen and (max-width: 768px) {
   .row-bottom-padded-sm {
      padding-bottom: 1em;
   }
}

.col-padding {
   padding: 10px !important;
}

.js .animate-box {
   opacity: 0;
}

#sticky_item {
   overflow: hidden;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}
#sticky_item.is_stuck {
   margin-top: 10px;
}

@media screen and (max-width: 992px) {
   .sticky-parent {
      clear: both;
      height: inherit !important;
      float: left;
      padding-top: 30px;
   }
}
